<!doctype HTML>
<html>
    <head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Regular CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<!--Bootstrap CSS-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<!--Refreshes every 30-mins, keeps data true to current time-->
		<meta http-equiv="refresh" content="600">
		<!--Title-->
		<title id='titleBar'>MHSN Dashboard</title>
    </head>
  
	<body>
		<p>{{JSON}}</p>
	</body>
</html>